services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: SuperSecret123
      POSTGRES_DB: taskmanagement
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
      build: ./backend
      container_name: task-backend
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/taskmanagement
        SPRING_DATASOURCE_USERNAME: taskuser
        SPRING_DATASOURCE_PASSWORD: SuperSecret123
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      depends_on:
        - db
      ports:
        - "8080:8080"

  frontend:
      build: ./frontend
      container_name: task-frontend
      ports:
        - "5173:80"
      depends_on:
        - backend

volumes:
  pgdata:
