version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: SuperSecret123
      POSTGRES_DB: taskmanagement
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
